In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

## 데이터불러오기

In [ ]:
ad = pd.read_csv('./data/ad.csv')
adver= pd.read_csv('./data/advertiser.csv')
implg = pd.read_csv('./data/impression_log.csv')
vlg = pd.read_csv('./data/view_log.csv')
viewer = pd.read_csv('./data/viewer.csv')

In [ ]:
ad = ad.rename(columns={'user_id':'adver_id', 'interest':'ad_interest','pfavcnt':'ad_pfavcnt'})
adver.rename(columns = lambda x: "adver_"+x, inplace = True)
adver = adver.rename(columns={'adver_user_id':'adver_id'})
viewer.rename(columns = lambda x: "user_"+x, inplace = True)
viewer = viewer.rename(columns={'user_user_id':'user_id'})

## 데이터타입확인

In [ ]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427 entries, 0 to 1426
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   content_id     1427 non-null   int64
 1   adver_id       1427 non-null   int64
 2   name           1427 non-null   object
 3   keyword        1342 non-null   object
 4   price          1427 non-null   int64
 5   flag_used      1427 non-null   int64
 6   category_id_1  1427 non-null   int64
 7   category_id_2  1427 non-null   int64
 8   category_id_3  1427 non-null   int64
 9   emergency_cnt  1427 non-null   int64
 10  comment_cnt    1427 non-null   int64
 11  ad_interest    1427 non-null   int64
 12  ad_pfavcnt     1427 non-null   int64
dtypes: int64(11), object(2)
memory usage: 145.1+ KB

In [ ]:
adver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1539 entries, 0 to 1538
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   adver_id                 1539 non-null   int64
 1   adver_favorite_count     1539 non-null   int64
 2   adver_grade              1539 non-null   int64
 3   adver_item_count         1539 non-null   int64
 4   adver_interest           1539 non-null   int64
 5   adver_review_count       1539 non-null   int64
 6   adver_comment_count      1539 non-null   int64
 7   adver_follower_count     1539 non-null   int64
 8   adver_pay_count          1539 non-null   int64
 9   adver_parcel_post_count  1539 non-null   int64
 10  adver_transfer_count     1539 non-null   int64
 11  adver_chat_count         1539 non-null   int64
dtypes: int64(12)
memory usage: 144.4 KB

In [ ]:
implg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852587 entries, 0 to 852586
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   imp_id           852587 non-null  object
 1   content_id       852587 non-null  int64
 2   server_time_kst  852587 non-null  object
 3   bid_price        852587 non-null  int64
 4   user_id          852587 non-null  int64
 5   device_type      852587 non-null  object
dtypes: int64(3), object(3)
memory usage: 39.0+ MB

In [ ]:
vlg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27006 entries, 0 to 27005
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   imp_id           27006 non-null  object
 1   server_time_kst  27006 non-null  object
 2   bid_price        27006 non-null  int64
 3   device_type      27006 non-null  object
dtypes: int64(1), object(3)
memory usage: 844.1+ KB

In [ ]:
viewer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56381 entries, 0 to 56380
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 56381 non-null  int64
 1   user_gender             56381 non-null  int64
 2   user_age                56381 non-null  int64
 3   user_following_cnt      56381 non-null  int64
 4   user_pay_count          56381 non-null  int64
 5   user_parcel_post_count  56381 non-null  int64
 6   user_transfer_count     56381 non-null  int64
 7   user_chat_count         56381 non-null  int64
dtypes: int64(8)
memory usage: 3.4 MB

In [ ]:
#ad['content_id'] = ad['content_id'].astype(str)
#ad['user_id'] = ad['user_id'].astype(str)
#adver['user_id'] = adver['user_id'].astype(str)
#implg['user_id'] = implg['user_id'].astype(str)
#implg['content_id'] = implg['content_id'].astype(str)
#viewer['user_id'] = viewer['user_id'].astype(str)

## 데이터 merge

### impression_log&view_log table join

In [ ]:
# merge
dataset = pd.merge(implg, vlg, how = 'left', on = 'imp_id')

In [ ]:
# click_label생성
dataset['click_label'] = np.where(dataset['server_time_kst_y'].isnull(), 0, 1)
dataset['click_label'].sum()

26570

In [ ]:
# click_time 생성
dataset['server_time_kst_x'] = pd.to_datetime(dataset['server_time_kst_x'])
dataset['server_time_kst_y'] = pd.to_datetime(dataset['server_time_kst_y'])
dataset['click_time'] = dataset['server_time_kst_y'] - dataset['server_time_kst_x']

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 854241 entries, 0 to 854240
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   imp_id             854241 non-null  object
 1   content_id         854241 non-null  int64
 2   server_time_kst_x  854241 non-null  datetime64[ns, pytz.FixedOffset(540)]
 3   bid_price_x        854241 non-null  int64
 4   user_id            854241 non-null  int64
 5   device_type_x      854241 non-null  object
 6   server_time_kst_y  26570 non-null   datetime64[ns, pytz.FixedOffset(540)]
 7   bid_price_y        26570 non-null   float64
 8   device_type_y      26570 non-null   object
 9   click_label        854241 non-null  int32
 10  click_time         26570 non-null   timedelta64[ns]
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), float64(1), int32(1), int64(3), object(3), timedelta64[ns](1)
memory usage: 74.9+ MB

In [ ]:
dataset.drop(['bid_price_y','device_type_y'], axis=1, inplace=True)

In [ ]:
log_backup = dataset

In [ ]:
log_backup

,imp_id,content_id,server_time_kst_x,bid_price_x,user_id,device_type_x,server_time_kst_y,click_label,click_time
0,97cf612d3a7008353958,161592430,2021-08-31 05:07:20.945000+09:00,50,11555138,a,NaT,0,NaT
1,99d1612d39112085014f,162892746,2021-08-31 05:02:38.277000+09:00,50,1310312,a,NaT,0,NaT
2,97ca612d461111487741,162806628,2021-08-31 05:57:03.384000+09:00,55,76429349,a,NaT,0,NaT
3,97f9612d3995149e6b11,161593862,2021-08-31 05:03:49.145000+09:00,270,74800572,a,NaT,0,NaT
4,97f9612d3a22149eef25,161587624,2021-08-31 05:06:26.494000+09:00,50,4454345,a,NaT,0,NaT
...,...,...,...,...,...,...,...,...,...
854236,9919612e429a24183e0d,163247160,2021-08-31 23:54:23.433000+09:00,50,7660589,a,NaT,0,NaT
854237,998c612e425a027cdb47,78159183,2021-08-31 23:54:17.029000+09:00,65,3735841,a,NaT,0,NaT
854238,9919612e429724183042,152627901,2021-08-31 23:54:24.948000+09:00,70,9140358,a,2021-08-31 23:54:31.027000+09:00,1,0 days 00:00:06.079000
854239,97f9612e4295183f6e39,160836652,2021-08-31 23:54:20.398000+09:00,165,1668136,a,NaT,0,NaT
854240,998c612e426b027d43c3,140116266,2021-08-31 23:53:43.939000+09:00,85,6309266,a,NaT,0,NaT

### viewer table join

In [ ]:
#dataset = log_backup

In [ ]:
# merge
dataset = pd.merge(dataset, viewer, how = 'outer', on = 'user_id')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 854241 entries, 0 to 854240
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   imp_id                  854241 non-null  object
 1   content_id              854241 non-null  int64
 2   server_time_kst_x       854241 non-null  datetime64[ns, pytz.FixedOffset(540)]
 3   bid_price_x             854241 non-null  int64
 4   user_id                 854241 non-null  int64
 5   device_type_x           854241 non-null  object
 6   server_time_kst_y       26570 non-null   datetime64[ns, pytz.FixedOffset(540)]
 7   click_label             854241 non-null  int32
 8   click_time              26570 non-null   timedelta64[ns]
 9   user_gender             854241 non-null  int64
 10  user_age                854241 non-null  int64
 11  user_following_cnt      854241 non-null  int64
 12  user_pay_count          854241 non-null  int64
 13  user_parcel_post_count  854241 non-null  int64
 14  user_transfer_count     854241 non-null  int64
 15  user_chat_count         854241 non-null  int64
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), int32(1), int64(10), object(2), timedelta64[ns](1)
memory usage: 107.5+ MB

In [ ]:
viewer_backup = dataset

In [ ]:
viewer_backup

,imp_id,content_id,server_time_kst_x,bid_price_x,user_id,device_type_x,server_time_kst_y,click_label,click_time,user_gender,user_age,user_following_cnt,user_pay_count,user_parcel_post_count,user_transfer_count,user_chat_count
0,97cf612d3a7008353958,161592430,2021-08-31 05:07:20.945000+09:00,50,11555138,a,NaT,0,NaT,0,0,0,0,0,0,0
1,97cf612d3a7008353959,161592430,2021-08-31 05:09:32.629000+09:00,50,11555138,a,NaT,0,NaT,0,0,0,0,0,0,0
2,99d1612d39112085014f,162892746,2021-08-31 05:02:38.277000+09:00,50,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0
3,99d1612d3ce42088a64a,162523203,2021-08-31 05:17:44.428000+09:00,50,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0
4,97f9612d3c7914a13817,162188490,2021-08-31 05:16:22.813000+09:00,60,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854236,97cf612e43410bd90aec,139971377,2021-08-31 23:57:11.888000+09:00,50,8167017,a,NaT,0,NaT,1,25,0,0,0,0,1
854237,97cf612e3a330ba55dc9,161783213,2021-08-31 23:18:37.059000+09:00,60,5400893,a,NaT,0,NaT,1,51,20,0,0,0,0
854238,97cf612e39fe0ba41ada,162888538,2021-08-31 23:17:39.484000+09:00,50,10715484,a,2021-08-31 23:17:54.661000+09:00,1,0 days 00:00:15.177000,2,25,0,0,0,0,0
854239,99d1612e432c24298c35,73171724,2021-08-31 23:56:50.633000+09:00,50,76953656,a,NaT,0,NaT,1,26,0,0,0,0,0
854240,9919612e429a24183e0d,163247160,2021-08-31 23:54:23.433000+09:00,50,7660589,a,NaT,0,NaT,1,23,5,1,1,0,1

### ad&advertiser table join

In [ ]:
ad['adver_id'].nunique()

308

In [ ]:
adver['adver_id'].nunique()

372

In [ ]:
adver = adver.drop_duplicates()

In [ ]:
adjoin = pd.merge(ad, adver, how = "left", on = "adver_id")

In [ ]:
adjoin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1427 entries, 0 to 1426
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   content_id               1427 non-null   int64
 1   adver_id                 1427 non-null   int64
 2   name                     1427 non-null   object
 3   keyword                  1342 non-null   object
 4   price                    1427 non-null   int64
 5   flag_used                1427 non-null   int64
 6   category_id_1            1427 non-null   int64
 7   category_id_2            1427 non-null   int64
 8   category_id_3            1427 non-null   int64
 9   emergency_cnt            1427 non-null   int64
 10  comment_cnt              1427 non-null   int64
 11  ad_interest              1427 non-null   int64
 12  ad_pfavcnt               1427 non-null   int64
 13  adver_favorite_count     1427 non-null   int64
 14  adver_grade              1427 non-null   int64
 15  adver_item_count         1427 non-null   int64
 16  adver_interest           1427 non-null   int64
 17  adver_review_count       1427 non-null   int64
 18  adver_comment_count      1427 non-null   int64
 19  adver_follower_count     1427 non-null   int64
 20  adver_pay_count          1427 non-null   int64
 21  adver_parcel_post_count  1427 non-null   int64
 22  adver_transfer_count     1427 non-null   int64
 23  adver_chat_count         1427 non-null   int64
dtypes: int64(22), object(2)
memory usage: 278.7+ KB

### adjoin과 dataset join

In [ ]:
#dataset = viewer_backup

In [ ]:
dataset = pd.merge(dataset, adjoin, how = 'left', on = 'content_id')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 854241 entries, 0 to 854240
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   imp_id                   854241 non-null  object
 1   content_id               854241 non-null  int64
 2   server_time_kst_x        854241 non-null  datetime64[ns, pytz.FixedOffset(540)]
 3   bid_price_x              854241 non-null  int64
 4   user_id                  854241 non-null  int64
 5   device_type_x            854241 non-null  object
 6   server_time_kst_y        26570 non-null   datetime64[ns, pytz.FixedOffset(540)]
 7   click_label              854241 non-null  int32
 8   click_time               26570 non-null   timedelta64[ns]
 9   user_gender              854241 non-null  int64
 10  user_age                 854241 non-null  int64
 11  user_following_cnt       854241 non-null  int64
 12  user_pay_count           854241 non-null  int64
 13  user_parcel_post_count   854241 non-null  int64
 14  user_transfer_count      854241 non-null  int64
 15  user_chat_count          854241 non-null  int64
 16  adver_id                 783793 non-null  float64
 17  name                     783793 non-null  object
 18  keyword                  718991 non-null  object
 19  price                    783793 non-null  float64
 20  flag_used                783793 non-null  float64
 21  category_id_1            783793 non-null  float64
 22  category_id_2            783793 non-null  float64
 23  category_id_3            783793 non-null  float64
 24  emergency_cnt            783793 non-null  float64
 25  comment_cnt              783793 non-null  float64
 26  ad_interest              783793 non-null  float64
 27  ad_pfavcnt               783793 non-null  float64
 28  adver_favorite_count     783793 non-null  float64
 29  adver_grade              783793 non-null  float64
 30  adver_item_count         783793 non-null  float64
 31  adver_interest           783793 non-null  float64
 32  adver_review_count       783793 non-null  float64
 33  adver_comment_count      783793 non-null  float64
 34  adver_follower_count     783793 non-null  float64
 35  adver_pay_count          783793 non-null  float64
 36  adver_parcel_post_count  783793 non-null  float64
 37  adver_transfer_count     783793 non-null  float64
 38  adver_chat_count         783793 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), float64(21), int32(1), int64(10), object(4), timedelta64[ns](1)
memory usage: 257.4+ MB

In [ ]:
dataset.head()

,imp_id,content_id,server_time_kst_x,bid_price_x,user_id,device_type_x,server_time_kst_y,click_label,click_time,user_gender,user_age,user_following_cnt,user_pay_count,user_parcel_post_count,user_transfer_count,user_chat_count,adver_id,name,keyword,price,flag_used,category_id_1,category_id_2,category_id_3,emergency_cnt,comment_cnt,ad_interest,ad_pfavcnt,adver_favorite_count,adver_grade,adver_item_count,adver_interest,adver_review_count,adver_comment_count,adver_follower_count,adver_pay_count,adver_parcel_post_count,adver_transfer_count,adver_chat_count
0,97cf612d3a7008353958,161592430,2021-08-31 05:07:20.945000+09:00,50,11555138,a,NaT,0,NaT,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,97cf612d3a7008353959,161592430,2021-08-31 05:09:32.629000+09:00,50,11555138,a,NaT,0,NaT,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,99d1612d39112085014f,162892746,2021-08-31 05:02:38.277000+09:00,50,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0,12851816.0,#한정판매#갤럭시Z플립2 그레이 256GB 중고폰 공기계[26583],"갤럭시Z플립2,Z플립2그레이,Z플립2",620000.0,1.0,600.0,600700.0,600700001.0,0.0,0.0,353.0,9.0,2131.0,5285.0,247.0,4525.0,542.0,739.0,0.0,496.0,0.0,0.0,11.0
3,99d1612d3ce42088a64a,162523203,2021-08-31 05:17:44.428000+09:00,50,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0,12211204.0,갤럭시Z플립3 라벤더 29만원,"Z플립2,Z플립5G,Z플립3,갤럭시Z플립3,갤럭시Z플립5G",290000.0,2.0,600.0,600700.0,600700001.0,3.0,0.0,11304.0,157.0,1320.0,1600.0,160.0,1728.0,161.0,0.0,0.0,0.0,0.0,0.0,2.0
4,97f9612d3c7914a13817,162188490,2021-08-31 05:16:22.813000+09:00,60,1310312,a,NaT,0,NaT,1,24,3,4,0,0,0,201368.0,갤럭시z플립3 선착순10명 사전예약,NaN,690000.0,2.0,600.0,600700.0,600700001.0,0.0,0.0,9668.0,92.0,8299.0,5910.0,504.0,151963.0,598.0,1.0,0.0,0.0,0.0,0.0,70.0

In [ ]:
dataset['adver_id'] = dataset['adver_id'].fillna(0)
dataset['category_id_1'] = dataset['category_id_1'].fillna(0)
dataset['category_id_2'] = dataset['category_id_2'].fillna(0)
dataset['category_id_3'] = dataset['category_id_3'].fillna(0)


dataset['adver_id'] = dataset['adver_id'].astype(int)
dataset['category_id_1'] = dataset['category_id_1'].astype(int)
dataset['category_id_2'] = dataset['category_id_2'].astype(int)
dataset['category_id_3'] = dataset['category_id_3'].astype(int)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 854241 entries, 0 to 854240
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   imp_id                   854241 non-null  object
 1   content_id               854241 non-null  int64
 2   server_time_kst_x        854241 non-null  datetime64[ns, pytz.FixedOffset(540)]
 3   bid_price_x              854241 non-null  int64
 4   user_id                  854241 non-null  int64
 5   device_type_x            854241 non-null  object
 6   server_time_kst_y        26570 non-null   datetime64[ns, pytz.FixedOffset(540)]
 7   click_label              854241 non-null  int32
 8   click_time               26570 non-null   timedelta64[ns]
 9   user_gender              854241 non-null  int64
 10  user_age                 854241 non-null  int64
 11  user_following_cnt       854241 non-null  int64
 12  user_pay_count           854241 non-null  int64
 13  user_parcel_post_count   854241 non-null  int64
 14  user_transfer_count      854241 non-null  int64
 15  user_chat_count          854241 non-null  int64
 16  adver_id                 854241 non-null  int32
 17  name                     783793 non-null  object
 18  keyword                  718991 non-null  object
 19  price                    783793 non-null  float64
 20  flag_used                783793 non-null  float64
 21  category_id_1            854241 non-null  int32
 22  category_id_2            854241 non-null  int32
 23  category_id_3            854241 non-null  int32
 24  emergency_cnt            783793 non-null  float64
 25  comment_cnt              783793 non-null  float64
 26  ad_interest              783793 non-null  float64
 27  ad_pfavcnt               783793 non-null  float64
 28  adver_favorite_count     783793 non-null  float64
 29  adver_grade              783793 non-null  float64
 30  adver_item_count         783793 non-null  float64
 31  adver_interest           783793 non-null  float64
 32  adver_review_count       783793 non-null  float64
 33  adver_comment_count      783793 non-null  float64
 34  adver_follower_count     783793 non-null  float64
 35  adver_pay_count          783793 non-null  float64
 36  adver_parcel_post_count  783793 non-null  float64
 37  adver_transfer_count     783793 non-null  float64
 38  adver_chat_count         783793 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), float64(17), int32(5), int64(10), object(4), timedelta64[ns](1)
memory usage: 244.4+ MB

In [ ]:
dataset.drop_duplicates(inplace=True)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853361 entries, 0 to 854240
Data columns (total 39 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   imp_id                   853361 non-null  object
 1   content_id               853361 non-null  int64
 2   server_time_kst_x        853361 non-null  datetime64[ns, pytz.FixedOffset(540)]
 3   bid_price_x              853361 non-null  int64
 4   user_id                  853361 non-null  int64
 5   device_type_x            853361 non-null  object
 6   server_time_kst_y        26516 non-null   datetime64[ns, pytz.FixedOffset(540)]
 7   click_label              853361 non-null  int32
 8   click_time               26516 non-null   timedelta64[ns]
 9   user_gender              853361 non-null  int64
 10  user_age                 853361 non-null  int64
 11  user_following_cnt       853361 non-null  int64
 12  user_pay_count           853361 non-null  int64
 13  user_parcel_post_count   853361 non-null  int64
 14  user_transfer_count      853361 non-null  int64
 15  user_chat_count          853361 non-null  int64
 16  adver_id                 853361 non-null  int32
 17  name                     783010 non-null  object
 18  keyword                  718299 non-null  object
 19  price                    783010 non-null  float64
 20  flag_used                783010 non-null  float64
 21  category_id_1            853361 non-null  int32
 22  category_id_2            853361 non-null  int32
 23  category_id_3            853361 non-null  int32
 24  emergency_cnt            783010 non-null  float64
 25  comment_cnt              783010 non-null  float64
 26  ad_interest              783010 non-null  float64
 27  ad_pfavcnt               783010 non-null  float64
 28  adver_favorite_count     783010 non-null  float64
 29  adver_grade              783010 non-null  float64
 30  adver_item_count         783010 non-null  float64
 31  adver_interest           783010 non-null  float64
 32  adver_review_count       783010 non-null  float64
 33  adver_comment_count      783010 non-null  float64
 34  adver_follower_count     783010 non-null  float64
 35  adver_pay_count          783010 non-null  float64
 36  adver_parcel_post_count  783010 non-null  float64
 37  adver_transfer_count     783010 non-null  float64
 38  adver_chat_count         783010 non-null  float64
dtypes: datetime64[ns, pytz.FixedOffset(540)](2), float64(17), int32(5), int64(10), object(4), timedelta64[ns](1)
memory usage: 244.1+ MB

## 주어진 dataset에서 필요한 데이터 추출하여 merge

In [ ]:
df = pd.read_csv('./data/dataset.csv')
subset = df[['content_id','m_time','content_img_url']]
subset.drop_duplicates(inplace=True)

In [ ]:
dataset = pd.merge(dataset, subset, how = 'left', on = 'content_id')

## 완성된 dataset 추출

In [ ]:
dataset.to_csv('./made_dataset.csv', index=False)